@layout('main')

@section('content')
  <h1>Welcome to your personal audio blog</h1>
  <h3>Upload your audio files to free up space on your local storage.</h3>
  <br />
  <br />
  <p>No sign up required, just give us your data!</p>
  <button class="btn btn-primary"><a class="nav-link" style="color:white;" href="/posts">Get Started</a></button>
@endsection
