@layout('main')

@section('content')
  <h1>{{ title }}</h1>
  <ul class="list-group">
  @each(post in posts)
    <li class="list-group-item">
      File: {{ post.file }}
      <br />
      Recorded by: {{ post.author }}
    </li>
  @endeach
  </ul>
@endsection
